<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:sharedUserId="io.github.caimucheng.leaf.ide">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round">

        <meta-data
            android:name="pluginConfiguration"
            android:value="leaf.plugin.nodejs.NodeJSPluginConfiguration" />

        <meta-data
            android:name="pluginMain"
            android:value="leaf.plugin.nodejs.NodeJSPluginMain" />

        <meta-data
            android:name="pluginProject"
            android:value="leaf.plugin.nodejs.NodeJSPluginProject" />

    </application>

</manifest>